<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general_styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>Pagina de Inicio</title>
</head>

<body>
    <header>
        <section class="header_navbar">
            <section class="header__logo">
                <img src="images/logo.png" alt="logo-Libreria">
            </section>

            <section class="header__search">
                <div class="header__search__search">
                    <input type="search" name="" id="search__bar" placeholder="Busqueda">
                    <button><i class="fas fa-search"></i></button>
                </div>
                
            
            <section class="header__search__links">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">¿Quienes Somos?</a></li>
                    <li><a href="#">Contactenos</a></li>
                </ul>
            </section>
            
            </section>

            <section class="header_acount">
                <i class="fas fa-cog"></i>
                <i class="fas fa-chevron-down"></i>
                <ul>
                    <li><a href="#">Crear Cuenta</a></li>
                    <li><a href="#">Ingresar</a></li>
                </ul>
            </section>
            <section class="header__buy">
                <a href="">Carrito<i class="fas fa-shopping-cart"></i></a>
            </section>
        </section>

      
        

    </header>
</body>

</html>