<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Formulario de Registro</title>
    <link href="css/register_styles.css" rel="stylesheet">

</head>

<body>
    <img class="logo_reg" src="images/logo_libreria.png" alt="Logo Empresa">
    <form class="form_reg" action="/register" method="POST">
        DATOS PERSONALES 
        <div>
            <label for="name">Ingresar Nombre y Apellido</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="user">Nombre de Usuario</label>
            <input type="text" name="user" id="user">
        </div>
        <div>
            <label for="e-mail">Ingrese E-mail</label>
            <input type="email" name="e-mail" id="e-mail">
        </div>
        <div>
            <label for="fecha">Fecha Nacimiento</label>
            <input type="date" name="fecha" id="fecha">
        </div>
        <div>
            <label for="adress">Domicilio</label>
            <input type="text" name="adress" id="adress">
        </div>
        <div>
            <button type="submit">Crear Cuenta</button>
            <button type="reset">Cancelar</button>
        </div>
</body>

</html>