:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #648cc7;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --Verde: #39b54a;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
}
/*header*/
header{
    background-color: var(--celeste);
}

.header_navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

}

.header__logo{
    margin: auto;
}

.header__logo img{
    width: 250px;
    border: blue dotted 1px;
    
}

.header__search{
    width: 500px;
    border: red dotted 1px;
    margin: 0px;
    padding: 25px;
}

.header__search__search{
    display: flex;
    justify-content: center;

}
#search__bar{
    width: 100%;
    max-width: 350px;
}

.header__search__links ul {
    display: flex;
    row-gap: 20px;
}

.header__search__links ul a{
    display: flex;
    margin-right: 20px;
    margin-top: 30px;   
}
