:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #648cc7;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --Verde: #39b54a;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
}
/*header*/
header{
    background-color: var(--celeste);
}

.header_navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

}

.header__logo{
    width: 300px;
    display: flex;
    
}

.header__logo img{
    width: 250px;
    
}
.header__search{
    display: flex;
    width: 250px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    
}

.header__search__links ul {
    display: inline-block;
    display: flex;
    
    gap: 10px;
    
}


