*{
    padding-left: 5px;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    border-radius: 10px;
    
}
.logo_reg{
    width: 120px;
    background-color: white;
}

.datos_pers{
    font-weight: bold;
    padding-bottom: 20px;
}
div{
    line-height: 40px;

}
.terminos_info{
    font-size: 12px;
    
}
.prefijo{
    width: 40px;

}

a{
    text-decoration: underline;
}
.botones{
    content: center;
}